<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Your hotel <%=@hotel.name%> was <%=@hotel.aasm_state%>
    </p>
  </body>
</html>
