<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <%= render partial: "hotels/hotel_data", locals: {hotel: @hotel}%>
    <p>
      Your hotel was <b><%=@hotel.aasm_state%></b>
    </p>
  </body>
</html>
