= render 'layouts/header'
%h2 User index
%p
  - @admin_users.each do |user|
    %p= render partial: "user", locals: {user: user}
  %div{:style=>"text-align:center"}
    User
    = paginate @admin_users