.container-fluid{:style=>"background-color:lightgrey; border-radius:15px; margin:1%"}
  .row
    %header
      %h4.hotel_panel_header.col-xs-6{:style=>"display:inline"}
        Пользователь:
        =review.user.email
      %p{:style=>"display:inline"}
        Оценка:
      =hotel_rating review
      - if user_signed_in? && review.user_id == user.id
        %div{:style=>"text-align: right; display: inline"}
          %div.btn-group
            = link_to 'Удалить', hotel_review_path(hotel,review),class:"btn btn-primary",method: :delete, data: { confirm: 'Вы уверены?' }
  .row
    .col-xs-12
      =review.review
